h1 {
  color: purple;
  font-size: 4rem;
}

h2 {
  color: aliceblue;
  font-size: medium;
}

h3 {
  color: azure;
}

p {
  color: rgb(181, 185, 188);
  font-size: 10pt;
  width: 500px;
}

.app {
  font-style: 2rem;
  font-weight: bold;
  color: rgb(164, 69, 253);
}

body {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  margin-left: 52px;
}

button {
  color: black;
  background-color: blanchedalmond;
  font-size: 12px;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: none;
  stroke: none;
  padding: 20px;
  margin-top: 24px;
}
