html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 3rem;
}

h2 {
  color: aliceblue;
  font-size: 2rem;
}

h3 {
  color: azure;
}

p {
  color: rgb(181, 185, 188);
  font-size: 10pt;
}

.app {
  font-style: 2rem;
  font-weight: bold;
  color: rgb(164, 69, 253);
}

body {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  margin-left: 52px;
  width: 1000px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

button {
  color: black;
  background-color: blanchedalmond;
  font-size: 12px;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: none;
  stroke: none;
  padding: 20px;
  margin-top: 24px;
}

.image-description {
  border: 1px solid #ccc;
  max-width: 500px;
  height: auto;
}

.image-description:hover {
  opacity: 0.8;
  /* other styles for the hover effect */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
}

.left-column {
  background-color: #000000;
}

.right-column {
  background-color: #000000;
}
